Source: ros-iron-rosx-introspection
Section: misc
Priority: optional
Maintainer: Davide Faconti <davide.faconti@gmail.com>
Build-Depends: debhelper (>= 9.0.0), rapidjson-dev, ros-iron-ament-cmake, ros-iron-ament-index-cpp, ros-iron-fastcdr, ros-iron-geometry-msgs <!nocheck>, ros-iron-rclcpp, ros-iron-rosbag2-cpp, ros-iron-sensor-msgs <!nocheck>, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-rosx-introspection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rapidjson-dev, ros-iron-ament-index-cpp, ros-iron-fastcdr, ros-iron-rclcpp, ros-iron-rosbag2-cpp, ros-iron-ros-workspace
Description: Successor of ros_type_introspection
